.done{
  background: #7e6ab4;
  text-decoration: line-through;
}

.lst-card{
  background: #A588F8;
  border-radius: 20px;
  width: 100%;
  padding: 20px;
  min-height: 120px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.activity-txt{
  p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
  }
  @media (max-width: 768px) {
    p{
      font-size: 16px;
      line-height: 20px;
    }
  }

}

.activity-spec {
  h5 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 4px;
    line-height: 14px;
    font-variant: small-caps;
    color: #141414;
    opacity: 0.8;
  }
  p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #141414;
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    padding-top: 10px;
    border-top: solid #00000050 2px
  }
}

.actions {
  box-sizing: border-box;
  align-items: center;

  button {
  min-width: 38px;
  max-height: 33px ;
  margin-left: 5px;
  height: 50px;
  background: #E0D56D;
  border-radius: 16px;
  border: none;
  }

  button:hover{
    background: #d4c751;
  }

  .delete{
    background: #e3101000;
    border: solid black 1px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .delete:hover{
    background: #e31010;
    color: white;
    border: solid #e31010 1px;
  }

}



