<div class="conteiner-fluid overflow-hidden bg-primary ">
  <div class="row">
    <div class="col-12 col-lg-5 bg-danger">s</div>
    <div class="col-12 col-lg-7 bg-warning">
      <div class="head">
        <h2>✨✨✨Saved activities✨✨✨</h2>
      </div>
      <div class="post-list">
        <app-list-card></app-list-card>
      </div>
    </div>
  </div>
</div>


<!-- <div class="contain fixed-top">

  <div class="aside">
    <div>
      <app-header></app-header>
    </div>

    <div class="hello">
      <h1>Hey there👋</h1>
      <h2>What activity will you do today?</h2>
      <h3>Choose here how to generate your next activity.</h3>

    </div>
    <div class="card-section">
      <app-card></app-card>
    </div>

  </div>


  <div class="content">
    <h2>✨✨✨Saved activities✨✨✨</h2>

    <div class="cta-cards">
      <div class="cta">
        <app-list-card></app-list-card>
      </div>
      <div class="cta">
      </div>
    </div>




    <div class="navbar">
      <app-navbar></app-navbar>
    </div>

  </div>
</div>  -->
