


/*
.contain{
  display: flex;
  margin: 0;
  padding: 0;
}
.aside{
  box-sizing: border-box;
  height: 100vh;
  width: 40% ;
  padding: 0 50px;
  // border-radius: 0 30px 30px 0 ;
  background-color: #7F5DDA;
  position: sticky;


  .hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
    height: 20%;
    //background-color: rgb(106, 23, 196);

    h1{
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 59px;
      color: #000000;
      margin: 0;
      padding: 0;
    }
    h2{
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 35px;
      color: #2c2c2c;
      margin: 0;
      padding: 0;
    }
    h3{
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      color: #FFFFFF;
      opacity: 0.8;
      margin: 0;
      margin-top: 10px;
      padding: 0;
    }
  }
  .card-section{
    height: 70%;
    //background-color: red;
  }

}

.content{
  height: 100vh;
  margin: 30px 30px 30px 40px;
  // width: 60%;


  h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    opacity: 0.8;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    padding-bottom: 5px;
    border-bottom: solid white 1.5px ;
  }

  .cta-cards{
    display: flex;
    width: 100%;
    // background-color: #FFFFFF;
    // margin: 10px;
    .cta{
      padding: 10px;
      // background-color: gray;
      // margin: 10px;
    }
  }

}
*/


// .navbar{
//   width: 100px;
// }
