div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  background: #7F5DDA;
  border-radius: 15px;
  padding: 0 50px;
}

a{
  color: white;
  margin: 0 30px;
  text-align: center;
}
