<div class="conteiner-fluid overflow-hidden fixe">
  <div class="row">
    <div class="col-12 col-lg-5 px-5 pb-5 aside d-flex flex-column justify-content-start">
      <div class="row">
        <div class="col-12 m-0 p-0">
          <app-header></app-header>
        </div>
        <div class="col-12 px-0 pt-5 pb-4 d-flex flex-column justify-content-center bg-primary hello">
          <h1>Hey there👋</h1>
          <h2>What activity will you do today?</h2>
          <h3>Choose here how to generate your next activity.</h3>
        </div>
        <div class="col-12">
          <!-- <app-card></app-card> -->
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-7 p-5  pt-3 list">
      <div class="contens">
        <h2>✨✨✨Saved activities✨✨✨</h2>
        <app-list-card></app-list-card>
      </div>
    </div>









    <!--
    <div class="navbar">
      <app-navbar></app-navbar>
    </div> -->

  </div>
</div>
