<div class="bg container-fluid m-0 ">

  <div class="row">

    <div class="col-4 container-fluid bg-2 gx-0 m-0 mx-auto" style="height: auto;">
      <div class="container-fluid mt-5 px-5 py-3">

        <div class="pt-5 px-3 animate__animated animate__fadeInUp">
          <h2>Crea un'account</h2>
          <p class="text-secondary">Inserisci i tuoi dati e inizia subito la tua prova gratuita di 30 giorni!</p>
        </div>

        <form #f="ngForm" (ngSubmit)="onSubmit()" class="px-3">
          <div class="mb-3 animate__animated animate__fadeInUp ">
            <label for="firstname" class="form-label">Nome</label>
            <input ngModel name="firstname" type="text" class="form-control" id="firstname" />
          </div>

          <div class="mb-3 animate__animated animate__fadeInUp ">
            <label for="lastname" class="form-label">Cognome</label>
            <input ngModel name="lastname" type="text" class="form-control" id="lastname" />
          </div>

          <div class="mb-3 animate__animated animate__fadeInUp ">
            <label for="email" class="form-label">Email</label>
            <input ngModel name="email" type="email" class="form-control" id="email" />
          </div>

          <div class="mb-3 animate__animated animate__fadeInUp ">
            <label for="password" class="form-label">Password</label>
            <input ngModel name="password" type="password" class="form-control" id="password" />
          </div>
          <button type="submit" class="animate__animated animate__fadeInUp btn btn-primary mt-3 w-100 "
            control-id="ControlID-4">
            Crea il mio account
          </button>
        </form>
        <div *ngIf="error" class="toast align-items-center text-bg-danger border-0 fade show" role="alert"
          aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              Registrazione fallita!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
              aria-label="Close"></button>
          </div>
        </div>

      </div>

    </div>
    <div class="col-8 container-fluid m-0 mx-auto"
      style="height: 100vh; background-image: url(https://cdn.dribbble.com/userupload/2769179/file/original-11e9e9e57cf5acb40ce4b85262b96c76.png); background-position: top; background-size: cover;  background-repeat: no-repeat;">
    </div>
  </div>
</div>
