<div class="box-cta">
  <div class="txt">
    <h3>Are you looking for somethig specific? Choose by type👇👇👇</h3>
  </div>
  <div class="cta animate__animated  animate__zoomIn">

    <div class="content-box">
      <h4>type activity</h4>
      <select class="type-select">
        <option selected>Choose your preference</option>
        <option value="1">Education</option>
        <option value="2">Recreational</option>
        <option value="3">Social</option>
        <option value="1">Diy</option>
        <option value="2">Charity</option>
        <option value="3">Cooking</option>
        <option value="1">Relaxation</option>
        <option value="2">Music</option>
        <option value="3">Busywork</option>
      </select>
    </div>
    <button>
      <p>Surprise me!</p>
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 11L11 1" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M1 1H11V11" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
      </svg>

    </button>
  </div>
</div>
