<div class="box-cta">
  <div class="txt">
    <h3>...or by number of people 👇👇👇</h3>
  </div>
  <div class="cta animate__animated  animate__zoomIn">

    <div class="content-box">
      <h4>group activity</h4>
      <div class="people">
        <p>We are</p>
        <input type="number" placeholder="4">
        <p>folks here!💪</p>
      </div>
    </div>
    <button>
      <p>Surprise me!</p>
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 11L11 1" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M1 1H11V11" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
      </svg>

    </button>
  </div>
</div>
