<div class="box-cta">
  <div class="txt">
    <h3>Tired but dont want to get bored? Choose by easiness 🤙🤙🤙</h3>
  </div>
  <div class="cta animate__animated  animate__zoomIn">

    <div class="content-box">
      <h4>easiness activity</h4>
      <p>This factor describing how possible an event is to do with zero being the most accessible
      </p>
      <!-- <mat-slider min="0" max="1" step="10" showTickMarks discrete [displayWith]="formatLabel">
        <input matSliderThumb>
      </mat-slider> -->
    </div>
    <button>
      <p>Surprise me!</p>
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 11L11 1" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M1 1H11V11" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
      </svg>

    </button>
  </div>
</div>
