<div class="cta animate__animated  animate__zoomIn">
  <div class="content-box">
    <h4>random activity</h4>
    <p>Let the universe choose for you 🎲🎲🎲</p>
  </div>
  <button (click)="getRandom()">
    <p>Go for it</p>
    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 11L11 1" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M1 1H11V11" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
    </svg>

  </button>
</div>
